@import url("https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opensans', sans-serif;
}

/*Global style settings*/

h1 {
    font-size: 50px;
    line-height: 68px;
    color: black;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: black;
}

h4 {
    font-size: 20px;
    color: black;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: blue;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    padding: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    /*background: #e3e6f3;*/
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.6);
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: blue;
    transition: 0.3s ease;
}

#navbar li a:hover, 
#navbar li a.active {
    color: navy;
}

#navbar li a.active::after,
#navbar li a:hover::after {
    content: "";
    width: 53%;
    height: 2px;
    background: navy;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

